![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [1]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [6]:
ejer_2 = [1,2,3,4,5]
for i in range(len(ejer_2)):
    ejer_2[i] = ejer_2[i]**2
print(ejer_2)

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [8]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

concat = ejer_3_1 + ejer_3_2
print(concat)

['Hola', 'amigo', 'Que', 'tal']

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [10]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

n = ejer_4.index(45)
ejer_4[n] = 0
print(n, ejer_4)

4 [20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [14]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
backup = ejer_5.copy()
backup.clear()
print(backup)

[]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [24]:
ejer_6_1 = (1,2,3)
ejer_6_2 = (4,)
ejer_6_3 = ("a",1.5,True)
print(type(ejer_6_2))
print(type(ejer_6_3))
n = len(ejer_6_3)
print(ejer_6_3[0], ejer_6_3[n-1])

ejer_6_3 = ejer_6_3 + ("pi",)
print(ejer_6_3)

pivot = list(ejer_6_3)
del pivot[1]
ejer_6_4 = tuple(pivot)
print(ejer_6_4)

print(pivot)

<class 'tuple'>
<class 'tuple'>
a True
('a', 1.5, True, 'pi')
('a', True, 'pi')
['a', True, 'pi']

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [29]:
ejer_7 = ("cien", "cañones", "por", "banda")
cadena = " ".join(ejer_7) 
print(cadena)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [32]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2], ejer_8[-3])

3 90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posición 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
4. Comprueba si el numero 60 está en la tupla
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [35]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
print("El 3 se repite",ejer_9.count(3), "veces")
print("La tupla tiene", len(ejer_9), "elementos")
print("El número 60 está en la tupla?", 60 in ejer_9)

El 3 se repite 7 veces
La tupla tiene 26 elementos
El número 60 está en la tupla? False

## Ejercicio 10
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los índices

In [43]:
lista_10 = list(ejer_9)
set_10 = set(ejer_9)
dic_10 = {}
for i, elem in enumerate(ejer_9):
    dic_10[i] = elem
print(lista_10)
print(set_10)
print(dic_10)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [ ]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

dic_11 = {}
for i in ejer_11:
    aux = i[0]
    res = i[1]
    if aux in dic_11:
        dic_11[aux].append(res)
    else:
        dic_11[aux] = [res]
print(dic_11)

SyntaxError: ':' expected after dictionary key (2987063015.py, line 1)

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual a 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [96]:
ejer_12 = {4:78, 2:98, 8:234, 5:29}
ordena = []
for i in ejer_12.keys():
    ordena.append(i)
ordena.sort()
print(ordena)
ordena2 = []
for i in ejer_12.values():
    ordena2.append(i)
inverso = sorted(ordena2, reverse=True)
print(inverso)

ejer_12[33] = 123
print("No estoy seguro de si el enunciado pide esto", ejer_12[2])
for i,j in ejer_12.items():
    print(i,j)

[2, 4, 5, 8]
[234, 98, 78, 29]
No estoy seguro de si el enunciado pide esto 98
4 78
2 98
8 234
5 29
33 123

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [86]:
ejer_13_1 = {1: 11, 2: 22}

ejer_13_2 = {3: 33, 4: 44}

ejer_13_1.update(ejer_13_2)

print(ejer_13_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [89]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
suma = sum(list(ejer_14.values()))
print(suma)

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [90]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
multi = 1
for i in ejer_15.values():
    multi *= i

print(multi)

19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [95]:
ultimo = {2, 23, -24}
x = 55
ultimo.add(x)
print(ultimo)
ultimo.remove(x)
print(ultimo)
ultimo.discard(10)
print(ultimo)

{-24, 2, 55, 23}
{-24, 2, 23}
{-24, 2, 23}

## Ejercicio 2
Programa el SW de una biblioteca:

* Pregunte qué operación quieres realizar (visualizar todos los libros de la biblioteca/buscar libro/aniadir libro/eliminar libro)
    * En caso de que pida visualizar se visualizarán todos los libros
    * Buscar libro: búsqueda por título que introduce el usuario
    * Aniadir libro: el usuario aniade todos los campos mediante inputs
    * Eliminar libro: por autor

In [1]:
libros = [
    {"Titulo": "Python Data Science Handbook", "Autor": "Jake VanderPlas", "Alquilado": False},
    {"Titulo": "Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow", "Autor": "Aurélien Géron", "Alquilado": True},
    {"Titulo": "Pattern Recognition and Machine Learning", "Autor": "Christopher M. Bishop", "Alquilado": False},
    {"Titulo": "Deep Learning", "Autor": "Ian Goodfellow, Yoshua Bengio, Aaron Courville", "Alquilado": True},
    {"Titulo": "The Elements of Statistical Learning", "Autor": "Trevor Hastie, Robert Tibshirani, Jerome Friedman", "Alquilado": False},
    {"Titulo": "Data Science for Business", "Autor": "Foster Provost, Tom Fawcett", "Alquilado": False},
    {"Titulo": "Bayesian Data Analysis", "Autor": "Andrew Gelman et al.", "Alquilado": True},
    {"Titulo": "Introduction to the Theory of Computation", "Autor": "Michael Sipser", "Alquilado": False},
    {"Titulo": "Artificial Intelligence: A Modern Approach", "Autor": "Stuart Russell, Peter Norvig", "Alquilado": True},
    {"Titulo": "Computer Vision: Algorithms and Applications", "Autor": "Richard Szeliski", "Alquilado": False},
    {"Titulo": "Data Science from Scratch", "Autor": "Joel Grus", "Alquilado": True},
    {"Titulo": "The Art of Statistics", "Autor": "David Spiegelhalter", "Alquilado": False},
    {"Titulo": "Python Machine Learning", "Autor": "Sebastian Raschka, Vahid Mirjalili", "Alquilado": True},
    {"Titulo": "An Introduction to Statistical Learning", "Autor": "Gareth James, Daniela Witten, Trevor Hastie, Robert Tibshirani", "Alquilado": False},
    {"Titulo": "Fundamentals of Data Engineering", "Autor": "Joe Reis, Matt Housley", "Alquilado": False},
    {"Titulo": "Storytelling with Data", "Autor": "Cole Nussbaumer Knaflic", "Alquilado": True},
    {"Titulo": "Building Machine Learning Powered Applications", "Autor": "Emmanuel Ameisen", "Alquilado": False},
    {"Titulo": "Practical Statistics for Data Scientists", "Autor": "Peter Bruce, Andrew Bruce", "Alquilado": True},
    {"Titulo": "SQL for Data Scientists", "Autor": "Renee M. P. Teate", "Alquilado": False},
    {"Titulo": "Data Engineering on Azure", "Autor": "Vlad Riscutia", "Alquilado": True}
]

In [6]:
s = input("¿Qué acción deseas realizar? \n \
          Consultar todos los libros de la biblioteca \n \
          Buscar libro \n \
          aniadir libro \n \
          eliminar libro")
s.lower().strip()
match s:
    case "consultar todos los libros de la biblioteca":
        for i in libros:
            print(i.items())
    case "buscar libro":
        lib = print("Introduce el título del libro que deseas buscar:")
        lib = lib.title().strip()
        for n,i in enumerate(libros):
            if i["Título"] == lib:
                print(f"Lo tenemos, está en el estante número {n}")
    case "aniadir libro":
        tit = input("Introduce el título del libro")
        tit = tit.title().strip()
        aut = input("Introduce el autor del libro")
        aut = aut.title().strip()
        alq = input("¿Está alquilado? Responde sí o no")
        alq = alq.lower().strip()
        if alq == "sí" or alq == "si":
            alq = True
        else:
            alq = False        
        new = {"Título":tit, "Autor":aut, "Alquilado":alq}
        libros.append(new)
        print("Se ha añadido el libro a la libreria")
    case "eliminar libro":
        eli = input("¿Qué autor deseas eliminar?")
        eli = eli.title().strip()
        for n,i in enumerate(libros):
            if i["Autor"] == eli:
                del libros[n]

    case _x:
        print("Acción no válida")

dict_items([('Titulo', 'Python Data Science Handbook'), ('Autor', 'Jake VanderPlas'), ('Alquilado', False)])
dict_items([('Titulo', 'Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow'), ('Autor', 'Aurélien Géron'), ('Alquilado', True)])
dict_items([('Titulo', 'Pattern Recognition and Machine Learning'), ('Autor', 'Christopher M. Bishop'), ('Alquilado', False)])
dict_items([('Titulo', 'Deep Learning'), ('Autor', 'Ian Goodfellow, Yoshua Bengio, Aaron Courville'), ('Alquilado', True)])
dict_items([('Titulo', 'The Elements of Statistical Learning'), ('Autor', 'Trevor Hastie, Robert Tibshirani, Jerome Friedman'), ('Alquilado', False)])
dict_items([('Titulo', 'Data Science for Business'), ('Autor', 'Foster Provost, Tom Fawcett'), ('Alquilado', False)])
dict_items([('Titulo', 'Bayesian Data Analysis'), ('Autor', 'Andrew Gelman et al.'), ('Alquilado', True)])
dict_items([('Titulo', 'Introduction to the Theory of Computation'), ('Autor', 'Michael Sipser'), ('Alquilado', False)])
dict_items([('Titulo', 'Artificial Intelligence: A Modern Approach'), ('Autor', 'Stuart Russell, Peter Norvig'), ('Alquilado', True)])
dict_items([('Titulo', 'Computer Vision: Algorithms and Applications'), ('Autor', 'Richard Szeliski'), ('Alquilado', False)])
dict_items([('Titulo', 'Data Science from Scratch'), ('Autor', 'Joel Grus'), ('Alquilado', True)])
dict_items([('Titulo', 'The Art of Statistics'), ('Autor', 'David Spiegelhalter'), ('Alquilado', False)])
dict_items([('Titulo', 'Python Machine Learning'), ('Autor', 'Sebastian Raschka, Vahid Mirjalili'), ('Alquilado', True)])
dict_items([('Titulo', 'An Introduction to Statistical Learning'), ('Autor', 'Gareth James, Daniela Witten, Trevor Hastie, Robert Tibshirani'), ('Alquilado', False)])
dict_items([('Titulo', 'Fundamentals of Data Engineering'), ('Autor', 'Joe Reis, Matt Housley'), ('Alquilado', False)])
dict_items([('Titulo', 'Storytelling with Data'), ('Autor', 'Cole Nussbaumer Knaflic'), ('Alquilado', True)])
dict_items([('Titulo', 'Building Machine Learning Powered Applications'), ('Autor', 'Emmanuel Ameisen'), ('Alquilado', False)])
dict_items([('Titulo', 'Practical Statistics for Data Scientists'), ('Autor', 'Peter Bruce, Andrew Bruce'), ('Alquilado', True)])
dict_items([('Titulo', 'SQL for Data Scientists'), ('Autor', 'Renee M. P. Teate'), ('Alquilado', False)])
dict_items([('Titulo', 'Data Engineering on Azure'), ('Autor', 'Vlad Riscutia'), ('Alquilado', True)])
dict_items([('Título', 'El Silmarilion'), ('Autor', 'J. R. R. Tolkien'), ('Alquilado', True)])
dict_items([('Título', 'Asd'), ('Autor', 'Asd'), ('Alquilado', True)])