# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [3]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [26]:
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [5]:
chipo["item_price"]= chipo["item_price"].str.replace("$","").astype(float)
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [20]:
chicken_q_i = chipo[chipo["item_name"] == "Chicken Bowl"].sort_values("item_price")[["quantity","item_price"]]

In [21]:
chicken_q_i.drop_duplicates()

      quantity  item_price
3101         1        8.19
348          1        8.49
4236         1        8.50
4511         1        8.75
2919         1       10.58
5            1       10.98
3249         1       11.25
2771         2       16.98
1017         2       17.50
2075         2       21.96
4423         2       22.50
1514         3       26.25
409          3       32.94

In [29]:
chipo.loc[chipo["item_name"] == "Chicken Bowl",["quantity","item_price"]].sort_values("item_price").drop_duplicates()

      quantity  item_price
3101         1        8.19
348          1        8.49
4236         1        8.50
4511         1        8.75
2919         1       10.58
5            1       10.98
3249         1       11.25
2771         2       16.98
1017         2       17.50
2075         2       21.96
4423         2       22.50
1514         3       26.25
409          3       32.94

In [6]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [6]:
chipo["item_price"].max()
maximo = chipo["item_price"].max()
maximo

np.float64(44.25)

In [38]:
chipo["unit_price"] = chipo["item_price"]/chipo["quantity"]
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [39]:
chipo[chipo["unit_price"] ==chipo["unit_price"].max()]["item_name"].values[0]

'Steak Salad Bowl'

In [8]:
chipo["item_name"].value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [9]:
chipo[chipo["item_name"] == "Chicken Bowl"]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [10]:
len(chipo[chipo["item_name"] == "Chicken Bowl"])

726

In [11]:
chipo["item_name"].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [12]:
chipo[chipo["item_name"]=="Chicken Burrito"]

,order_id,quantity,item_name,choice_description,item_price
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
45,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",10.98
...,...,...,...,...,...
4556,1811,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.25
4558,1812,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
4559,1812,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Gua...",11.25
4566,1816,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",8.75
4569,1817,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",8.75

### Step 4. How many products cost more than $10.00?

In [40]:
chipo[chipo["unit_price"]>10]

,order_id,quantity,item_name,choice_description,item_price,unit_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75,11.75
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25

In [44]:
chipo[chipo["unit_price"] > 10]["item_name"].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chicken Salad',
       'Steak Salad Bowl', 'Chicken Crispy Tacos', 'Veggie Soft Tacos',
       'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Steak Soft Tacos',
       'Carnitas Soft Tacos', 'Steak Crispy Tacos'], dtype=object)

In [48]:
chipo[chipo["unit_price"] > 10]["item_name"].nunique()

25

In [45]:
len(chipo[chipo["unit_price"] > 10]["item_name"].unique())

25

In [41]:
chipo[chipo["unit_price"]>10]["unit_price"]

5       10.98
7       11.75
13      11.25
23      10.98
39      11.75
        ...
4610    11.75
4611    11.25
4617    11.75
4618    11.75
4619    11.25
Name: unit_price, Length: 1034, dtype: float64

In [42]:
chipo[chipo["unit_price"]>10]["unit_price"].sum()

np.float64(11773.029999999999)

### Step 4.1: Y cuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$? Es lo mismo?

In [50]:
len(chipo[chipo["unit_price"]>10]["order_id"].unique())

787

In [52]:
chipo[chipo["unit_price"] > 10]["order_id"].nunique()

787

In [51]:
#chipo[(chipo["unit_price"]>10) & ()]

### Step 4.2: Y cuÃ¡ntos pedidos se han hecho de mÃ¡s de 10$? Es lo mismo?

In [27]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

El resultado deberÃ­a ser el total de pedidos, ya que mirando el describe del conjunto obtenemos la siguiente informaciÃ³n:

In [61]:
ordenes_unicas = chipo["order_id"].unique()
mas_de_10 = 0
ordenes_unicas

array([   1,    2,    3, ..., 1832, 1833, 1834], shape=(1834,))

In [62]:
for id in ordenes_unicas:
    order_df = chipo[chipo["order_id"] == id]
    total = order_df["item_price"].sum()
    print(f"Orden {id}, total: {total}")
    if total >= 10:
        mas_de_10 += 1
print(mas_de_10)

Orden 1, total: 11.56
Orden 2, total: 16.98
Orden 3, total: 12.67
Orden 4, total: 21.0
Orden 5, total: 13.7
Orden 6, total: 17.5
Orden 7, total: 15.7
Orden 8, total: 10.88
Orden 9, total: 10.67
Orden 10, total: 13.2
Orden 11, total: 12.38
Orden 12, total: 14.370000000000001
Orden 13, total: 10.88
Orden 14, total: 10.08
Orden 15, total: 10.88
Orden 16, total: 10.68
Orden 17, total: 10.08
Orden 18, total: 24.9
Orden 19, total: 13.9
Orden 20, total: 36.2
Orden 21, total: 23.36
Orden 22, total: 12.98
Orden 23, total: 11.17
Orden 24, total: 12.07
Orden 25, total: 11.38
Orden 26, total: 20.5
Orden 27, total: 13.9
Orden 28, total: 33.7
Orden 29, total: 17.98
Orden 30, total: 23.36
Orden 31, total: 10.68
Orden 32, total: 12.98
Orden 33, total: 13.2
Orden 34, total: 28.4
Orden 35, total: 13.4
Orden 36, total: 18.0
Orden 37, total: 18.0
Orden 38, total: 18.57
Orden 39, total: 12.2
Orden 40, total: 32.75
Orden 41, total: 16.2
Orden 42, total: 13.7
Orden 43, total: 20.5
Orden 44, total: 13.2
Orden 45, total: 21.97
Orden 46, total: 11.88
Orden 47, total: 10.08
Orden 48, total: 13.7
Orden 49, total: 16.15
Orden 50, total: 10.88
Orden 51, total: 18.57
Orden 52, total: 12.98
Orden 53, total: 22.45
Orden 54, total: 15.7
Orden 55, total: 10.08
Orden 56, total: 16.65
Orden 57, total: 16.2
Orden 58, total: 10.88
Orden 59, total: 10.98
Orden 60, total: 22.5
Orden 61, total: 16.2
Orden 62, total: 15.7
Orden 63, total: 15.7
Orden 64, total: 22.5
Orden 65, total: 25.45
Orden 66, total: 11.48
Orden 67, total: 19.67
Orden 68, total: 21.95
Orden 69, total: 10.88
Orden 70, total: 21.95
Orden 71, total: 27.45
Orden 72, total: 10.98
Orden 73, total: 21.65
Orden 74, total: 22.36
Orden 75, total: 36.2
Orden 76, total: 10.67
Orden 77, total: 11.88
Orden 78, total: 17.48
Orden 79, total: 10.98
Orden 80, total: 11.48
Orden 81, total: 10.67
Orden 82, total: 20.95
Orden 83, total: 24.95
Orden 84, total: 28.46
Orden 85, total: 11.38
Orden 86, total: 22.95
Orden 87, total: 10.08
Orden 88, total: 10.88
Orden 89, total: 16.060000000000002
Orden 90, total: 20.0
Orden 91, total: 11.88
Orden 92, total: 20.15
Orden 93, total: 38.2
Orden 94, total: 22.5
Orden 95, total: 16.2
Orden 96, total: 35.0
Orden 97, total: 20.15
Orden 98, total: 22.3
Orden 99, total: 13.4
Orden 100, total: 10.08
Orden 101, total: 12.98
Orden 102, total: 14.649999999999999
Orden 103, total: 47.9
Orden 104, total: 12.2
Orden 105, total: 17.5
Orden 106, total: 18.0
Orden 107, total: 10.98
Orden 108, total: 21.25
Orden 109, total: 12.07
Orden 110, total: 36.0
Orden 111, total: 17.5
Orden 112, total: 17.98
Orden 113, total: 10.08
Orden 114, total: 13.0
Orden 115, total: 11.38
Orden 116, total: 12.2
Orden 117, total: 12.98
Orden 118, total: 10.88
Orden 119, total: 16.98
Orden 120, total: 10.18
Orden 121, total: 12.48
Orden 122, total: 11.77
Orden 123, total: 23.78
Orden 124, total: 28.4
Orden 125, total: 31.7
Orden 126, total: 20.0
Orden 127, total: 12.5
Orden 128, total: 24.95
Orden 129, total: 29.990000000000002
Orden 130, total: 11.38
Orden 131, total: 10.88
Orden 132, total: 22.15
Orden 133, total: 10.68
Orden 134, total: 22.15
Orden 135, total: 13.2
Orden 136, total: 17.48
Orden 137, total: 17.5
Orden 138, total: 10.67
Orden 139, total: 12.15
Orden 140, total: 11.08
Orden 141, total: 16.98
Orden 142, total: 11.38
Orden 143, total: 12.4
Orden 144, total: 13.4
Orden 145, total: 16.98
Orden 146, total: 21.0
Orden 147, total: 13.0
Orden 148, total: 30.939999999999998
Orden 149, total: 30.4
Orden 150, total: 13.06
Orden 151, total: 10.67
Orden 152, total: 22.16
Orden 153, total: 17.5
Orden 154, total: 18.189999999999998
Orden 155, total: 15.770000000000001
Orden 156, total: 17.48
Orden 157, total: 13.4
Orden 158, total: 14.2
Orden 159, total: 12.5
Orden 160, total: 10.08
Orden 161, total: 17.5
Orden 162, total: 12.2
Orden 163, total: 13.25
Orden 164, total: 10.08
Orden 165, total: 13.75
Orden 166, total: 25.15
Orden 167, total: 10.68
Orden 168, total: 18.240000000000002
Orden 169, total: 18.0
Orden 170, total: 16.95
Orden 171, total: 15.7
Orden 172, total: 17.48
Orden 173, total: 17.48
Orden 174, total: 12.5
Orden 175, total: 13.0
Orden 176, total: 25.45
Orden 177, total: 13.4
Orden 178, total: 32.94
Orden 179, total: 12.5
Orden 180, total: 14.26
Orden 181, total: 17.5
Orden 182, total: 20.19
Orden 183, total: 18.0
Orden 184, total: 31.849999999999998
Orden 185, total: 17.5
Orden 186, total: 37.33
Orden 187, total: 10.68
Orden 188, total: 10.08
Orden 189, total: 14.370000000000001
Orden 190, total: 10.08
Orden 191, total: 18.0
Orden 192, total: 27.9
Orden 193, total: 22.2
Orden 194, total: 17.48
Orden 195, total: 81.0
Orden 196, total: 24.2
Orden 197, total: 10.18
Orden 198, total: 23.0
Orden 199, total: 21.95
Orden 200, total: 12.48
Orden 201, total: 12.48
Orden 202, total: 14.26
Orden 203, total: 12.75
Orden 204, total: 12.27
Orden 205, total: 109.9
Orden 206, total: 29.95
Orden 207, total: 24.95
Orden 208, total: 12.48
Orden 209, total: 18.5
Orden 210, total: 20.5
Orden 211, total: 23.0
Orden 212, total: 26.0
Orden 213, total: 17.48
Orden 214, total: 14.8
Orden 215, total: 25.349999999999998
Orden 216, total: 13.2
Orden 217, total: 22.200000000000003
Orden 218, total: 12.98
Orden 219, total: 10.68
Orden 220, total: 17.5
Orden 221, total: 17.5
Orden 222, total: 25.45
Orden 223, total: 27.25
Orden 224, total: 12.48
Orden 225, total: 25.7
Orden 226, total: 22.45
Orden 227, total: 24.45
Orden 228, total: 10.98
Orden 229, total: 22.16
Orden 230, total: 38.19
Orden 231, total: 45.1
Orden 232, total: 12.2
Orden 233, total: 29.75
Orden 234, total: 31.2
Orden 235, total: 35.25
Orden 236, total: 18.5
Orden 237, total: 26.150000000000002
Orden 238, total: 21.0
Orden 239, total: 13.4
Orden 240, total: 22.45
Orden 241, total: 10.98
Orden 242, total: 20.5
Orden 243, total: 22.5
Orden 244, total: 13.7
Orden 245, total: 11.48
Orden 246, total: 10.18
Orden 247, total: 32.25
Orden 248, total: 16.2
Orden 249, total: 13.2
Orden 250, total: 21.28
Orden 251, total: 12.95
Orden 252, total: 18.0
Orden 253, total: 23.78
Orden 254, total: 23.549999999999997
Orden 255, total: 12.48
Orden 256, total: 12.07
Orden 257, total: 13.2
Orden 258, total: 27.9
Orden 259, total: 18.0
Orden 260, total: 12.48
Orden 261, total: 22.5
Orden 262, total: 12.5
Orden 263, total: 17.5
Orden 264, total: 24.990000000000002
Orden 265, total: 21.95
Orden 266, total: 12.48
Orden 267, total: 10.08
Orden 268, total: 10.88
Orden 269, total: 13.17
Orden 270, total: 13.25
Orden 271, total: 20.45
Orden 272, total: 13.2
Orden 273, total: 20.5
Orden 274, total: 10.18
Orden 275, total: 12.48
Orden 276, total: 30.96
Orden 277, total: 16.95
Orden 278, total: 14.97
Orden 279, total: 21.8
Orden 280, total: 12.48
Orden 281, total: 13.7
Orden 282, total: 25.5
Orden 283, total: 13.4
Orden 284, total: 31.2
Orden 285, total: 11.38
Orden 286, total: 14.45
Orden 287, total: 19.66
Orden 288, total: 11.76
Orden 289, total: 12.95
Orden 290, total: 12.75
Orden 291, total: 13.45
Orden 292, total: 12.48
Orden 293, total: 11.48
Orden 294, total: 12.48
Orden 295, total: 12.5
Orden 296, total: 10.68
Orden 297, total: 12.5
Orden 298, total: 15.24
Orden 299, total: 20.95
Orden 300, total: 20.5
Orden 301, total: 19.669999999999998
Orden 302, total: 12.48
Orden 303, total: 17.5
Orden 304, total: 35.5
Orden 305, total: 21.75
Orden 306, total: 18.240000000000002
Orden 307, total: 12.48
Orden 308, total: 13.4
Orden 309, total: 23.14
Orden 310, total: 10.68
Orden 311, total: 30.96
Orden 312, total: 20.65
Orden 313, total: 14.8
Orden 314, total: 17.5
Orden 315, total: 13.7
Orden 316, total: 12.5
Orden 317, total: 24.25
Orden 318, total: 12.48
Orden 319, total: 25.97
Orden 320, total: 12.15
Orden 321, total: 10.67
Orden 322, total: 12.95
Orden 323, total: 12.65
Orden 324, total: 12.5
Orden 325, total: 15.7
Orden 326, total: 35.15
Orden 327, total: 22.5
Orden 328, total: 14.97
Orden 329, total: 14.97
Orden 330, total: 10.68
Orden 331, total: 18.0
Orden 332, total: 10.08
Orden 333, total: 12.2
Orden 334, total: 18.0
Orden 335, total: 12.48
Orden 336, total: 17.5
Orden 337, total: 22.5
Orden 338, total: 28.320000000000004
Orden 339, total: 11.08
Orden 340, total: 13.2
Orden 341, total: 11.08
Orden 342, total: 12.48
Orden 343, total: 54.05
Orden 344, total: 25.97
Orden 345, total: 16.15
Orden 346, total: 30.2
Orden 347, total: 15.7
Orden 348, total: 16.98
Orden 349, total: 10.88
Orden 350, total: 15.0
Orden 351, total: 13.7
Orden 352, total: 22.95
Orden 353, total: 18.0
Orden 354, total: 18.0
Orden 355, total: 18.5
Orden 356, total: 20.47
Orden 357, total: 22.5
Orden 358, total: 24.25
Orden 359, total: 12.15
Orden 360, total: 21.25
Orden 361, total: 12.75
Orden 362, total: 22.5
Orden 363, total: 24.64
Orden 364, total: 13.2
Orden 365, total: 12.5
Orden 366, total: 26.75
Orden 367, total: 23.5
Orden 368, total: 16.98
Orden 369, total: 23.96
Orden 370, total: 13.2
Orden 371, total: 10.68
Orden 372, total: 20.5
Orden 373, total: 15.7
Orden 374, total: 13.0
Orden 375, total: 14.7
Orden 376, total: 20.16
Orden 377, total: 26.97
Orden 378, total: 10.18
Orden 379, total: 38.95
Orden 380, total: 24.15
Orden 381, total: 20.37
Orden 382, total: 12.58
Orden 383, total: 13.2
Orden 384, total: 30.9
Orden 385, total: 10.18
Orden 386, total: 16.98
Orden 387, total: 33.5
Orden 388, total: 10.08
Orden 389, total: 35.8
Orden 390, total: 12.48
Orden 391, total: 12.98
Orden 392, total: 11.27
Orden 393, total: 10.08
Orden 394, total: 18.0
Orden 395, total: 11.38
Orden 396, total: 25.0
Orden 397, total: 18.5
Orden 398, total: 12.75
Orden 399, total: 12.48
Orden 400, total: 31.75
Orden 401, total: 17.5
Orden 402, total: 35.15
Orden 403, total: 11.38
Orden 404, total: 22.65
Orden 405, total: 12.5
Orden 406, total: 13.0
Orden 407, total: 23.0
Orden 408, total: 23.75
Orden 409, total: 19.47
Orden 410, total: 18.75
Orden 411, total: 16.98
Orden 412, total: 16.2
Orden 413, total: 24.25
Orden 414, total: 10.88
Orden 415, total: 13.7
Orden 416, total: 18.0
Orden 417, total: 10.68
Orden 418, total: 17.5
Orden 419, total: 20.37
Orden 420, total: 15.7
Orden 421, total: 13.2
Orden 422, total: 15.74
Orden 423, total: 19.47
Orden 424, total: 11.27
Orden 425, total: 13.7
Orden 426, total: 12.95
Orden 427, total: 12.48
Orden 428, total: 25.65
Orden 429, total: 11.48
Orden 430, total: 12.15
Orden 431, total: 14.65
Orden 432, total: 23.990000000000002
Orden 433, total: 10.68
Orden 434, total: 20.5
Orden 435, total: 12.07
Orden 436, total: 11.88
Orden 437, total: 12.15
Orden 438, total: 22.46
Orden 439, total: 19.47
Orden 440, total: 21.45
Orden 441, total: 16.2
Orden 442, total: 11.48
Orden 443, total: 24.45
Orden 444, total: 10.68
Orden 445, total: 14.7
Orden 446, total: 13.9
Orden 447, total: 11.38
Orden 448, total: 12.95
Orden 449, total: 12.15
Orden 450, total: 15.84
Orden 451, total: 23.45
Orden 452, total: 13.0
Orden 453, total: 10.58
Orden 454, total: 11.38
Orden 455, total: 16.2
Orden 456, total: 22.5
Orden 457, total: 26.25
Orden 458, total: 17.5
Orden 459, total: 22.5
Orden 460, total: 22.45
Orden 461, total: 13.0
Orden 462, total: 25.45
Orden 463, total: 10.68
Orden 464, total: 15.7
Orden 465, total: 15.24
Orden 466, total: 22.45
Orden 467, total: 27.95
Orden 468, total: 28.09
Orden 469, total: 15.7
Orden 470, total: 13.2
Orden 471, total: 24.15
Orden 472, total: 19.97
Orden 473, total: 13.7
Orden 474, total: 11.48
Orden 475, total: 21.45
Orden 476, total: 17.48
Orden 477, total: 17.48
Orden 478, total: 28.04
Orden 479, total: 20.46
Orden 480, total: 12.15
Orden 481, total: 35.39
Orden 482, total: 23.2
Orden 483, total: 22.96
Orden 484, total: 11.17
Orden 485, total: 24.44
Orden 486, total: 13.2
Orden 487, total: 20.5
Orden 488, total: 50.900000000000006
Orden 489, total: 16.98
Orden 490, total: 10.68
Orden 491, total: 102.0
Orden 492, total: 10.98
Orden 493, total: 15.7
Orden 494, total: 19.47
Orden 495, total: 12.38
Orden 496, total: 17.55
Orden 497, total: 21.95
Orden 498, total: 26.95
Orden 499, total: 13.7
Orden 500, total: 12.15
Orden 501, total: 14.84
Orden 502, total: 13.0
Orden 503, total: 15.7
Orden 504, total: 22.96
Orden 505, total: 12.2
Orden 506, total: 20.95
Orden 507, total: 25.5
Orden 508, total: 11.38
Orden 509, total: 25.0
Orden 510, total: 12.48
Orden 511, total: 104.59
Orden 512, total: 10.98
Orden 513, total: 20.37
Orden 514, total: 20.15
Orden 515, total: 13.2
Orden 516, total: 10.18
Orden 517, total: 16.88
Orden 518, total: 10.98
Orden 519, total: 26.950000000000003
Orden 520, total: 19.689999999999998
Orden 521, total: 17.5
Orden 522, total: 14.95
Orden 523, total: 10.18
Orden 524, total: 13.7
Orden 525, total: 10.08
Orden 526, total: 14.2
Orden 527, total: 26.05
Orden 528, total: 10.98
Orden 529, total: 31.25
Orden 530, total: 22.3
Orden 531, total: 12.48
Orden 532, total: 10.68
Orden 533, total: 10.18
Orden 534, total: 34.89
Orden 535, total: 24.4
Orden 536, total: 13.2
Orden 537, total: 13.2
Orden 538, total: 10.98
Orden 539, total: 19.97
Orden 540, total: 13.7
Orden 541, total: 23.64
Orden 542, total: 17.48
Orden 543, total: 18.0
Orden 544, total: 17.5
Orden 545, total: 27.95
Orden 546, total: 25.5
Orden 547, total: 10.68
Orden 548, total: 13.9
Orden 549, total: 28.15
Orden 550, total: 12.2
Orden 551, total: 20.0
Orden 552, total: 31.9
Orden 553, total: 16.56
Orden 554, total: 12.2
Orden 555, total: 19.17
Orden 556, total: 10.98
Orden 557, total: 14.2
Orden 558, total: 10.68
Orden 559, total: 12.15
Orden 560, total: 23.45
Orden 561, total: 52.45
Orden 562, total: 22.96
Orden 563, total: 19.65
Orden 564, total: 13.0
Orden 565, total: 18.5
Orden 566, total: 18.240000000000002
Orden 567, total: 18.07
Orden 568, total: 10.98
Orden 569, total: 12.15
Orden 570, total: 12.75
Orden 571, total: 22.5
Orden 572, total: 16.98
Orden 573, total: 13.0
Orden 574, total: 13.4
Orden 575, total: 18.8
Orden 576, total: 46.53
Orden 577, total: 71.15
Orden 578, total: 22.5
Orden 579, total: 12.57
Orden 580, total: 16.98
Orden 581, total: 17.5
Orden 582, total: 12.75
Orden 583, total: 18.0
Orden 584, total: 12.48
Orden 585, total: 26.25
Orden 586, total: 17.5
Orden 587, total: 13.25
Orden 588, total: 25.45
Orden 589, total: 19.97
Orden 590, total: 22.45
Orden 591, total: 11.97
Orden 592, total: 17.5
Orden 593, total: 11.48
Orden 594, total: 17.48
Orden 595, total: 10.88
Orden 596, total: 23.46
Orden 597, total: 16.2
Orden 598, total: 12.15
Orden 599, total: 19.97
Orden 600, total: 12.75
Orden 601, total: 12.15
Orden 602, total: 26.75
Orden 603, total: 12.75
Orden 604, total: 14.45
Orden 605, total: 10.98
Orden 606, total: 12.95
Orden 607, total: 12.95
Orden 608, total: 19.37
Orden 609, total: 12.5
Orden 610, total: 17.5
Orden 611, total: 18.0
Orden 612, total: 13.14
Orden 613, total: 12.15
Orden 614, total: 10.08
Orden 615, total: 13.2
Orden 616, total: 26.25
Orden 617, total: 13.2
Orden 618, total: 14.7
Orden 619, total: 17.5
Orden 620, total: 20.5
Orden 621, total: 22.5
Orden 622, total: 16.95
Orden 623, total: 34.46
Orden 624, total: 17.76
Orden 625, total: 13.2
Orden 626, total: 12.65
Orden 627, total: 23.0
Orden 628, total: 39.8
Orden 629, total: 18.75
Orden 630, total: 13.4
Orden 631, total: 14.65
Orden 632, total: 13.0
Orden 633, total: 13.0
Orden 634, total: 14.45
Orden 635, total: 48.45
Orden 636, total: 20.45
Orden 637, total: 29.29
Orden 638, total: 17.4
Orden 639, total: 12.15
Orden 640, total: 14.7
Orden 641, total: 12.38
Orden 642, total: 18.5
Orden 643, total: 20.45
Orden 644, total: 13.39
Orden 645, total: 14.2
Orden 646, total: 20.5
Orden 647, total: 14.2
Orden 648, total: 22.3
Orden 649, total: 41.8
Orden 650, total: 12.15
Orden 651, total: 23.76
Orden 652, total: 24.35
Orden 653, total: 23.0
Orden 654, total: 38.9
Orden 655, total: 15.2
Orden 656, total: 14.770000000000001
Orden 657, total: 13.4
Orden 658, total: 23.0
Orden 659, total: 16.2
Orden 660, total: 16.2
Orden 661, total: 18.0
Orden 662, total: 17.48
Orden 663, total: 17.48
Orden 664, total: 20.5
Orden 665, total: 12.48
Orden 666, total: 14.97
Orden 667, total: 25.97
Orden 668, total: 16.98
Orden 669, total: 13.4
Orden 670, total: 29.2
Orden 671, total: 16.98
Orden 672, total: 12.07
Orden 673, total: 13.4
Orden 674, total: 12.95
Orden 675, total: 18.5
Orden 676, total: 12.2
Orden 677, total: 12.15
Orden 678, total: 12.98
Orden 679, total: 13.9
Orden 680, total: 12.38
Orden 681, total: 18.0
Orden 682, total: 26.95
Orden 683, total: 12.15
Orden 684, total: 16.2
Orden 685, total: 12.2
Orden 686, total: 16.98
Orden 687, total: 24.45
Orden 688, total: 49.45
Orden 689, total: 10.18
Orden 690, total: 11.88
Orden 691, total: 118.25
Orden 692, total: 21.96
Orden 693, total: 12.67
Orden 694, total: 20.47
Orden 695, total: 10.18
Orden 696, total: 12.9
Orden 697, total: 12.75
Orden 698, total: 20.45
Orden 699, total: 10.18
Orden 700, total: 12.95
Orden 701, total: 13.4
Orden 702, total: 11.08
Orden 703, total: 25.47
Orden 704, total: 13.0
Orden 705, total: 20.5
Orden 706, total: 21.95
Orden 707, total: 12.75
Orden 708, total: 41.74
Orden 709, total: 19.689999999999998
Orden 710, total: 13.4
Orden 711, total: 10.88
Orden 712, total: 24.95
Orden 713, total: 19.97
Orden 714, total: 12.2
Orden 715, total: 18.5
Orden 716, total: 20.5
Orden 717, total: 17.5
Orden 718, total: 10.98
Orden 719, total: 20.5
Orden 720, total: 19.65
Orden 721, total: 13.4
Orden 722, total: 16.2
Orden 723, total: 10.88
Orden 724, total: 13.0
Orden 725, total: 12.15
Orden 726, total: 10.18
Orden 727, total: 12.75
Orden 728, total: 17.5
Orden 729, total: 12.48
Orden 730, total: 10.08
Orden 731, total: 12.5
Orden 732, total: 19.37
Orden 733, total: 18.0
Orden 734, total: 38.84
Orden 735, total: 17.48
Orden 736, total: 13.2
Orden 737, total: 41.15
Orden 738, total: 12.34
Orden 739, total: 12.48
Orden 740, total: 12.15
Orden 741, total: 21.96
Orden 742, total: 10.18
Orden 743, total: 13.2
Orden 744, total: 17.48
Orden 745, total: 12.48
Orden 746, total: 29.2
Orden 747, total: 17.5
Orden 748, total: 12.2
Orden 749, total: 15.24
Orden 750, total: 13.05
Orden 751, total: 12.4
Orden 752, total: 19.37
Orden 753, total: 13.7
Orden 754, total: 22.69
Orden 755, total: 12.67
Orden 756, total: 18.64
Orden 757, total: 12.2
Orden 758, total: 12.15
Orden 759, total: 86.30000000000001
Orden 760, total: 22.5
Orden 761, total: 19.47
Orden 762, total: 12.4
Orden 763, total: 14.15
Orden 764, total: 12.95
Orden 765, total: 12.48
Orden 766, total: 15.55
Orden 767, total: 13.9
Orden 768, total: 18.5
Orden 769, total: 10.88
Orden 770, total: 24.95
Orden 771, total: 12.98
Orden 772, total: 18.5
Orden 773, total: 13.2
Orden 774, total: 18.240000000000002
Orden 775, total: 17.48
Orden 776, total: 19.689999999999998
Orden 777, total: 22.5
Orden 778, total: 12.2
Orden 779, total: 10.18
Orden 780, total: 10.98
Orden 781, total: 13.2
Orden 782, total: 14.2
Orden 783, total: 19.87
Orden 784, total: 29.490000000000002
Orden 785, total: 14.7
Orden 786, total: 10.68
Orden 787, total: 30.240000000000002
Orden 788, total: 10.08
Orden 789, total: 17.48
Orden 790, total: 12.07
Orden 791, total: 45.65
Orden 792, total: 27.4
Orden 793, total: 13.25
Orden 794, total: 22.36
Orden 795, total: 20.15
Orden 796, total: 12.4
Orden 797, total: 12.98
Orden 798, total: 24.14
Orden 799, total: 12.98
Orden 800, total: 17.5
Orden 801, total: 12.5
Orden 802, total: 10.98
Orden 803, total: 17.95
Orden 804, total: 15.7
Orden 805, total: 16.65
Orden 806, total: 40.35
Orden 807, total: 24.7
Orden 808, total: 12.95
Orden 809, total: 13.2
Orden 810, total: 22.96
Orden 811, total: 10.88
Orden 812, total: 25.15
Orden 813, total: 12.4
Orden 814, total: 31.4
Orden 815, total: 12.5
Orden 816, total: 31.7
Orden 817, total: 26.75
Orden 818, total: 70.85
Orden 819, total: 10.98
Orden 820, total: 16.98
Orden 821, total: 10.98
Orden 822, total: 17.98
Orden 823, total: 41.0
Orden 824, total: 12.48
Orden 825, total: 12.67
Orden 826, total: 17.5
Orden 827, total: 11.38
Orden 828, total: 11.38
Orden 829, total: 12.95
Orden 830, total: 23.0
Orden 831, total: 17.5
Orden 832, total: 19.37
Orden 833, total: 12.75
Orden 834, total: 13.0

In [ ]:
chipo[chipo["item_price"]>10]["item_price"].describe()

count    1130.000000
mean       12.392513
std         3.199968
min        10.500000
25%        11.250000
50%        11.250000
75%        11.750000
max        44.250000
Name: item_price, dtype: float64

Como observamos aquÃ­, la compra total mÃ­nima realizada es de 10.5

Ni caso, repasando la sintaxis anterior el programa no estÃ¡ realizando la acciÃ³n que estoy describiendo.

In [35]:
gasto_pedido = chipo.groupby("order_id",as_index="Gasto total").item_price.sum()
print(gasto_pedido)

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [38]:
print(gasto_pedido[gasto_pedido > 10].count())

1834

In [ ]:
orders_mas_de_10 = chipo.groupby("order_id")["item_price"].sum() > 10
orders_mas_de_10

order_id
1       False
2       False
3       False
4       False
5       False
        ...
1830    False
1831    False
1832    False
1833    False
1834    False
Name: item_price, Length: 1834, dtype: bool

In [75]:
chipo.groupby("order_id")["item_price"].sum().sort_values(ascending=False)

order_id
926     205.25
1443    160.74
1483    139.00
691     118.25
1786    114.30
         ...
1262     10.08
1436     10.08
889      10.08
14       10.08
17       10.08
Name: item_price, Length: 1834, dtype: float64

In [96]:
serie_mas_de_x = chipo.groupby("order_id")["item_price"].sum() > 20
serie_mas_de_x.sum()

np.int64(566)

### Step 4.3: Y en cuÃ¡ntos pedidos se ha pagado mÃ¡s de 10$ por un mismo producto? Es lo mismo?

In [49]:
len(chipo.order_id[chipo.item_price > 10].unique())

863

In [77]:
chipo[chipo["item_price"] > 10]["order_id"].unique()

array([   2,    3,    4,    7,   12,   19,   20,   21,   24,   26,   27,
         28,   30,   35,   40,   41,   43,   54,   57,   59,   60,   61,
         62,   63,   64,   65,   66,   67,   68,   70,   71,   72,   73,
         74,   75,   79,   80,   83,   84,   86,   89,   90,   93,   94,
         95,   96,   99,  103,  105,  107,  109,  114,  123,  124,  126,
        127,  128,  129,  132,  134,  137,  140,  144,  146,  147,  148,
        149,  152,  153,  157,  158,  159,  163,  165,  166,  168,  170,
        171,  174,  175,  176,  177,  178,  179,  180,  181,  185,  186,
        189,  192,  193,  195,  196,  198,  202,  203,  204,  205,  206,
        207,  210,  211,  212,  222,  223,  227,  228,  229,  231,  235,
        237,  238,  239,  241,  242,  243,  245,  248,  250,  253,  256,
        258,  261,  262,  264,  269,  271,  273,  277,  278,  282,  283,
        284,  290,  293,  295,  297,  300,  304,  305,  306,  308,  309,
        316,  317,  324,  327,  328,  329,  337,  338,  339,  341,  343,
        347,  348,  350,  356,  357,  358,  360,  361,  362,  365,  366,
        367,  369,  372,  373,  374,  375,  377,  379,  380,  384,  387,
        396,  398,  400,  401,  404,  405,  406,  407,  408,  409,  413,
        418,  420,  423,  428,  429,  431,  434,  435,  438,  439,  441,
        442,  443,  446,  450,  451,  452,  453,  455,  456,  457,  459,
        461,  462,  464,  467,  468,  469,  472,  474,  478,  479,  481,
        483,  487,  488,  491,  492,  493,  494,  497,  498,  501,  502,
        503,  504,  507,  509,  511,  512,  513,  518,  519,  526,  527,
        528,  529,  534,  538,  539,  541,  545,  546,  548,  551,  552,
        553,  556,  557,  561,  562,  564,  566,  568,  570,  571,  577,
        578,  579,  581,  582,  587,  588,  589,  593,  596,  597,  599,
        600,  603,  605,  609,  612,  616,  618,  620,  621,  622,  627,
        628,  630,  632,  635,  637,  640,  643,  644,  645,  646,  647,
        649,  652,  653,  654,  657,  658,  659,  660,  664,  666,  669,
        670,  672,  673,  679,  682,  684,  687,  688,  691,  692,  693,
        694,  697,  701,  702,  704,  705,  707,  708,  712,  713,  716,
        718,  719,  721,  722,  727,  731,  734,  737,  741,  747,  754,
        755,  759,  760,  761,  766,  767,  768,  770,  774,  777,  780,
        782,  784,  785,  790,  791,  792,  793,  794,  800,  801,  802,
        804,  806,  807,  810,  812,  814,  815,  818,  819,  821,  823,
        825,  826,  830,  831,  833,  836,  837,  839,  842,  843,  845,
        848,  849,  850,  851,  855,  856,  859,  863,  864,  865,  869,
        870,  871,  872,  874,  875,  879,  881,  885,  886,  887,  890,
        893,  894,  898,  899,  900,  901,  902,  905,  908,  914,  916,
        917,  920,  929,  930,  932,  933,  937,  939,  941,  943,  947,
        948,  949,  951,  952,  953,  956,  957,  958,  960,  962,  963,
        964,  966,  968,  969,  970,  973,  975,  976,  977,  979,  980,
        981,  983,  985,  987,  988,  989,  991,  994,  995,  996,  997,
       1000, 1003, 1004, 1006, 1010, 1012, 1013, 1015, 1016, 1017, 1019,
       1021, 1022, 1023, 1024, 1025, 1027, 1031, 1033, 1034, 1035, 1036,
       1037, 1038, 1039, 1043, 1044, 1047, 1048, 1049, 1051, 1052, 1057,
       1058, 1061, 1062, 1063, 1064, 1069, 1070, 1075, 1076, 1078, 1079,
       1080, 1082, 1086, 1087, 1088, 1091, 1092, 1096, 1097, 1098, 1100,
       1101, 1104, 1106, 1107, 1109, 1110, 1111, 1113, 1114, 1116, 1123,
       1126, 1134, 1138, 1139, 1142, 1144, 1146, 1149, 1150, 1151, 1153,
       1154, 1155, 1157, 1158, 1159, 1160, 1163, 1165, 1166, 1168, 1169,
       1170, 1171, 1174, 1175, 1176, 1183, 1185, 1188, 1189, 1191, 1193,
       1196, 1199, 1200, 1203, 1206, 1208, 1209, 1214, 1218, 1221, 1222,
       1223, 1224, 1227, 1228, 1232, 1233, 1234, 1238, 1239, 1243, 1244,
       1248, 1249, 1250, 1252, 1253, 1255, 1257, 1265, 1269, 1270, 1273,
       1276, 1279, 1280, 1282, 1283, 1284, 1286, 1287, 1289, 1292, 1294,
       1295, 1296, 1297, 1301, 1302, 1304, 1311, 1313, 1316, 1317, 1322,
       1323, 1328, 1331, 1334, 1336, 1337, 1339, 1343, 1344, 1345, 1350,
       1353, 1355, 1356, 1357, 1360, 1361, 1362, 1364, 1366, 1368, 1370,
       1374, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1391, 1392,
       1394, 1397, 1398, 1400, 1403, 1408, 1409, 1410, 1411, 1412, 1413,
       1415, 1418, 1422, 1424, 1425, 1426, 1428, 1429, 1434, 1435, 1440,
       1443, 1444, 1445, 1447, 1449, 1451, 1453, 1454, 1455, 1456, 1458,
       1460, 1461, 1462, 1465, 1470, 1471, 1472, 1473, 1474, 1476, 1477,
       1478, 1480, 1483, 1486, 1492, 1493, 1495, 1496, 1497, 1499, 1501,
       1502, 1508, 1509, 1511, 1512, 1513, 1514, 1518, 1519, 1521, 1522,
       1523, 1526, 1531, 1533, 1534, 1538, 1539, 1540, 1544, 1545, 1546,
       1547, 1548, 1550, 1551, 1553, 1554, 1559, 1561, 1567, 1571, 1572,
       1577, 1583, 1586, 1587, 1588, 1589, 1591, 1593, 1594, 1601, 1607,
       1611, 1613, 1614, 1615, 1619, 1625, 1627, 1632, 1633, 1634, 1636,
       1639, 1640, 1643, 1646, 1647, 1648, 1655, 1656, 1657, 1659, 1660,
       1661, 1662, 1663, 1664, 1667, 1672, 1673, 1674, 1677, 1680, 1681,
       1684, 1686, 1688, 1690, 1692, 1695, 1696, 1699, 1700, 1701, 1703,
       1706, 1708, 1710, 1713, 1715, 1716, 1717, 1718, 1719, 1720, 1723,
       1724, 1725, 1726, 1728, 1730, 1731, 1733, 1735, 1736, 1737, 1738,
       1739, 1742, 1744, 1745, 1747, 1748, 1749, 1750, 1751, 1754, 1756,
       1760, 1764, 1765, 1766, 1767, 1768, 1770, 1772, 1773, 1775, 1780,
       1781, 1782, 1784, 1786, 1788, 1789, 1790, 1791, 1792, 1793, 1796,
       1798, 1802, 1805, 1810, 1811, 1812, 1813, 1815, 1820, 1822, 1824,
       1825, 1829, 1830, 1833, 1834])

In [78]:
chipo[chipo["item_price"] > 10]["order_id"].nunique()

863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [ ]:
chipo.groupby("item_name")[["item_price"]].mean()
"""
aux = pd.DataFrame(chipo.groupby("item_name")[["item_price"]].mean())
aux.item_price.rename("unit_price")
aux
"""

'\naux = pd.DataFrame(chipo.groupby("item_name")[["item_price"]].mean())\naux.item_price.rename("unit_price")\naux\n'

In [82]:
chipo[["item_name", "unit_price"]].sort_values("unit_price").drop_duplicates()

                  item_name  unit_price
18              Canned Soda        1.09
3581          Bottled Water        1.09
3366      Canned Soft Drink        1.25
2130          Bottled Water        1.50
650           Side of Chips        1.69
...                     ...         ...
485   Barbacoa Crispy Tacos       11.75
1008  Carnitas Crispy Tacos       11.75
3749    Carnitas Salad Bowl       11.89
2740       Steak Salad Bowl       11.89
2442    Barbacoa Salad Bowl       11.89

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [79]:
aux = chipo.groupby("item_name")[["item_price"]].mean().sort_values("item_name")
aux

                                       item_price
item_name
6 Pack Soft Drink                        6.610185
Barbacoa Bowl                           10.187273
Barbacoa Burrito                         9.832418
Barbacoa Crispy Tacos                   10.928182
Barbacoa Salad Bowl                     10.640000
Barbacoa Soft Tacos                     10.018400
Bottled Water                            1.867654
Bowl                                    14.800000
Burrito                                  7.400000
Canned Soda                              1.320577
Canned Soft Drink                        1.457641
Carnitas Bowl                           10.833971
Carnitas Burrito                        10.132712
Carnitas Crispy Tacos                   11.137143
Carnitas Salad                           8.990000
Carnitas Salad Bowl                     11.056667
Carnitas Soft Tacos                      9.398500
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Chicken Salad                            9.010000
Chicken Salad Bowl                      11.170455
Chicken Soft Tacos                       9.635565
Chips                                    2.342844
Chips and Fresh Tomato Salsa             3.285091
Chips and Guacamole                      4.595073
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Roasted Chili-Corn Salsa       2.390000
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and Tomatillo-Green Chili Salsa    2.544194
Chips and Tomatillo-Red Chili Salsa      2.987500
Crispy Tacos                             7.400000
Izze                                     3.390000
Nantucket Nectar                         3.641111
Salad                                    7.400000
Side of Chips                            1.840594
Steak Bowl                              10.711801
Steak Burrito                           10.465842
Steak Crispy Tacos                      10.209714
Steak Salad                              8.915000
Steak Salad Bowl                        11.847931
Steak Soft Tacos                         9.746364
Veggie Bowl                             10.211647
Veggie Burrito                           9.839684
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Veggie Salad Bowl                       10.138889
Veggie Soft Tacos                       10.565714

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [103]:
aux["quantity"] = chipo.groupby("item_name")[["quantity"]].sum()
aux

                                       item_price  quantity
item_name
6 Pack Soft Drink                        6.610185        55
Barbacoa Bowl                           10.187273        66
Barbacoa Burrito                         9.832418        91
Barbacoa Crispy Tacos                   10.928182        12
Barbacoa Salad Bowl                     10.640000        10
Barbacoa Soft Tacos                     10.018400        25
Bottled Water                            1.867654       211
Bowl                                    14.800000         4
Burrito                                  7.400000         6
Canned Soda                              1.320577       126
Canned Soft Drink                        1.457641       351
Carnitas Bowl                           10.833971        71
Carnitas Burrito                        10.132712        60
Carnitas Crispy Tacos                   11.137143         8
Carnitas Salad                           8.990000         1
Carnitas Salad Bowl                     11.056667         6
Carnitas Soft Tacos                      9.398500        40
Chicken Bowl                            10.113953       761
Chicken Burrito                         10.082857       591
Chicken Crispy Tacos                    10.045319        50
Chicken Salad                            9.010000         9
Chicken Salad Bowl                      11.170455       123
Chicken Soft Tacos                       9.635565       120
Chips                                    2.342844       230
Chips and Fresh Tomato Salsa             3.285091       130
Chips and Guacamole                      4.595073       506
Chips and Mild Fresh Tomato Salsa        3.000000         1
Chips and Roasted Chili Corn Salsa       3.084091        23
Chips and Roasted Chili-Corn Salsa       2.390000        18
Chips and Tomatillo Green Chili Salsa    3.087209        45
Chips and Tomatillo Red Chili Salsa      3.072917        50
Chips and Tomatillo-Green Chili Salsa    2.544194        33
Chips and Tomatillo-Red Chili Salsa      2.987500        25
Crispy Tacos                             7.400000         2
Izze                                     3.390000        20
Nantucket Nectar                         3.641111        29
Salad                                    7.400000         2
Side of Chips                            1.840594       110
Steak Bowl                              10.711801       221
Steak Burrito                           10.465842       386
Steak Crispy Tacos                      10.209714        36
Steak Salad                              8.915000         4
Steak Salad Bowl                        11.847931        31
Steak Soft Tacos                         9.746364        56
Veggie Bowl                             10.211647        87
Veggie Burrito                           9.839684        97
Veggie Crispy Tacos                      8.490000         1
Veggie Salad                             8.490000         6
Veggie Salad Bowl                       10.138889        18
Veggie Soft Tacos                       10.565714         8

In [104]:
aux.quantity[aux.item_price == aux.item_price.max()]

item_name
Bowl    4
Name: quantity, dtype: int64

In [92]:
chipo[chipo["unit_price"] == chipo["unit_price"].max()].groupby("item_name")["quantity"].sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

In [105]:
aux.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 6 Pack Soft Drink to Veggie Soft Tacos
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_price  50 non-null     float64
 1   quantity    50 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 3.2+ KB

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [109]:

aux["quantity"][aux.index == "Veggie Salad Bowl"]

item_name
Veggie Salad Bowl    18
Name: quantity, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [97]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,NaN
1,1,1,Izze,[Clementine],3.39,NaN
2,1,1,Nantucket Nectar,[Apple],3.39,NaN
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,NaN

In [98]:
chipo.order_id[(chipo.quantity >= 2) & (chipo.item_name == "Canned Soda")].count()

np.int64(20)